---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Services from '../components/Services.astro';
import Workflow from '../components/Workflow.astro';
import Footer from '../components/Footer.astro';
import CTA from '../components/CTA.astro';
---

<Layout title="Code Tribu.">
	<main>
	<Hero/>
	<Services/>
	<About/>
	<Workflow/>
	<CTA/>
	<Footer/>
	</main>
</Layout>

<style>
	
</style>
