<section class="px-4  mx-auto max-w-7xl">
    
    <div class="2xl:container 2xl:mx-auto lg:py-16 lg:px-20 md:py-12 md:px-6 py-9 px-4">
        <div class="flex flex-col lg:flex-row justify-between gap-8">
            <div class="w-full lg:w-5/12 flex flex-col justify-center">
                <h1 class="text-3xl lg:text-4xl font-bold leading-9 text-transparent bg-clip-text bg-gradient-to-r from-purple-600 to-blue-500 pb-4">Sobre nosotros</h1>
                <br>
                <p class="text-lg  leading-7 text-slate-700 tracking-wide">
                    En CodeTribu, nuestra misión trasciende el simple desarrollo de software; nos dedicamos a comprender profundamente las necesidades únicas de cada uno de nuestros clientes, sus procesos de negocio y a diseñar soluciones a medida que se alinean perfectamente con sus objetivos. Creemos firmemente en el poder transformador de la tecnología, no solo como una herramienta para incrementar la eficiencia y productividad empresarial, sino como un catalizador para alcanzar nuevas cimas de éxito y crecimiento.
                    <br>
                    <br>
                    Con una perspectiva que pone a nuestros clientes en el centro de todo lo que hacemos, nos esforzamos por ofrecer una experiencia de desarrollo de software totalmente personalizada. 
                </p>
            </div>
            <div class="w-full lg:w-8/12">
                <img class="w-full h-full" src="/assets/images/software-development.webp" alt="A group of People" />
            </div>
        </div>

        <div class="flex lg:flex-row flex-col justify-between gap-8 ">
            <div class="w-full lg:w-12/12 flex flex-col justify-center">
                <h1 class="text-3xl lg:text-4xl font-bold leading-9 text-transparent bg-clip-text bg-gradient-to-r from-purple-600 to-blue-500 pb-4">Enfoque</h1>
                <br>
                <p class="text-lg  leading-7 text-slate-700 ">
                    La excelencia en nuestros procesos es la columna vertebral de nuestra metodología. En CodeTribu, entendemos que la base de cualquier 
                    proyecto exitoso radica en una comunicación transparente y eficaz. 
                <br><br>
                En CodeTribu, nos enorgullecemos de ser más que simples proveedores de servicios; somos socios estratégicos comprometidos 
                con el éxito a largo plazo de nuestros clientes. Juntos, transformamos desafíos en oportunidades, llevando a cada empresa a alcanzar 
                su máximo potencial a través de la tecnología.
                </p>
            </div>
           
        </div>
    </div>

</section>