---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Desarrollo de soluciones de software a la medida" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/code-tribu.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="min-h-screen bg-fixed">
		<div class="min-h-screen bg-fixed bg-[linear-gradient(to_right,#f0f0f0_1px,transparent_1px),linear-gradient(to_bottom,#f0f0f0_1px,transparent_1px)] bg-[size:6rem_4rem]">
		  <div class="bg-[radial-gradient(circle_800px_at_100%_200px,#d5c5ff,transparent)] min-h-full">
			<slot />
		  </div>
		</div>
	  </body>
</html>
